<div class="flex flex-col justify-center w-full sm:w-5/12 m-auto">
  @defer (when song) {
  <p-toolbar styleClass="border-0">
    <ng-template #start>
      <p-button
        (click)="onEdit()"
        tooltipPosition="top"
        pTooltip="{{ 'songs.song.buttons.edit' | transloco }}"
        icon="pi pi-pencil"
        text
        severity="secondary"
      />
      <div class="card flex justify-center gap-2">
        <p-toast />
        <p-confirmdialog />
        <p-button
          severity="danger"
          (click)="onDelete($event)"
          tooltipPosition="top"
          pTooltip="{{ 'songs.song.buttons.delete' | transloco }}"
          icon="pi pi-trash"
          text
        />
      </div>
    </ng-template>
  </p-toolbar>
  <div class="flex flex-wrap gap-3">
    <div class="flex flex-col">
      <SongCard [song]="song!" />
    </div>

    <div class="flex flex-col gap-3 p-3">
      <span>{{ "songs.song.genre" | transloco }}</span>
      <div class="card flex items-center gap-2 flex-wrap">
        @for (genre of song?.genre; track $index) {
        <ChipGenreComponent [genre]="genre" [song]="song!" />
        }
      </div>
      <span>{{ "songs.song.company" | transloco }}</span>

      <div class="card flex items-center gap-2 flex-wrap">
        @for (company of companies; track $index) {
        <ChipGenreComponent [genre]="company.name" [song]="song!" />
        } @empty {
        <span>{{ "songs.song.empty_companies" | transloco }}</span>
        }
      </div>
      <p-divider />
      <div class="flex flex-col gap-3">
        <span>{{ "songs.song.duration" | transloco }}:</span>
        <span
          >{{
            "songs.song.song_duration"
              | transloco : { duration: song?.duration }
          }}:</span
        >
      </div>
      <p-divider />
      <div class="flex flex-col gap-3">
        <span>{{ "songs.song.year" | transloco }}:</span>
        <span>{{ song?.year }}</span>
      </div>
      <p-divider />
      <div class="flex flex-col gap-3">
        <span>{{ "songs.song.rating" | transloco }}:</span>
        <div class="flex justify-start items-center gap-1">
          <i class="pi pi-star-fill"></i>
          <span>{{ song?.rating }}</span>
          <span>/</span>
          <span>10</span>
        </div>
      </div>
    </div>
  </div>
  } @loading {
  <p-progressSpinner />
  } @error {
  <p class="p-5">{{ "songs.load_song_error" | transloco }}</p>
  } @placeholder {
  <!-- skeleton -->
  <SongSkeletonComponent />
  }
</div>
