  <div class="grid min-h-screen grid-cols-[1fr] sm:grid-cols-[auto_1fr]">
    <!-- Side menu -->
    <aside class="col-start-1 row-start-1 border-r-1 border-gray-200 bg-neutral-100" 
      [classList]="isMenuOpen ? 'absolute bg-neutral-100 w-full z-1' : 'hidden'"
    >
      <app-side-menu />
    </aside>

    <div class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
      <!-- Top menu -->
      <header class="border-b-1 border-gray-200">
        <app-top-menu />
      </header>

      <!-- Main content -->
      <main class="p-3 bg-white">
        <router-outlet />
      </main>

      <!-- Footer -->
      <FooterComponent />
    </div>
  </div>
