  <div class="grid min-h-screen grid-cols-[auto_1fr]">
    <!-- Side menu -->
    <aside class="col-start-1 row-start-1 border-r-1 border-gray-200 bg-neutral-100">
      <app-side-menu />
    </aside>

    <div class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
      <!-- Top menu -->
      <header class="border-b-1 border-gray-200">
        <app-top-menu />
      </header>

      <!-- Main content -->
      <main class="p-3 bg-white">
        <p class="m-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </main>

      <!-- Footer -->
      <FooterComponent />
    </div>
  </div>
